@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Oswald:wght@200..700&display=swap');

// Variables de apoyo.
$glu-red: #CD0A30 !default;
$glu-blue: #0D445D !default;
$glu-yellow: #F7B713 !default;
$glu-green: #8BB52C !default;
$glu-cyan: #24A1D8 !default;
$glu-gray: #545454 !default;